nav {
    background-color: rgb(248, 198, 206);
}
.jumbotron {
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQOIVA0kB03dzCyS_f0h56GiRl3zKLONlz0XJnhMa8El0TjYqsG) ;
}
.welcomeText {
    font-family: 'Lobster', cursive;
    font-size: 5em;
    font-weight: bold;
    color: lightslategray;
}
h1 {
    font-family: 'Dancing Script', cursive;
    font-weight: bold;
    font-size: 3.75em;
    color: lightslategray;
}
img {
      border:3px solid rgb(248, 201, 208);
  }
.indexImg {
    width: 40%;
}
.textBlock {
    position: absolute;
    bottom: 8px;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(248, 201, 208);
    width: 100%;
    font-size: 3.75em;
    font-family: 'Dancing Script', cursive;
    color: lightslategray;
  }
 .imgAlign {
    position: relative;
    text-align: center;
    color: white;
    padding: 0;
  }
.line {
      border-bottom:3px solid rgb(248, 201, 208);
  }
#sticky-footer {
    flex-shrink: none;
    background-color: lightgray;
    border-top:3px solid rgb(248, 201, 208) ;
  }
.height {
      min-height: 100vh;
    }

  /*anything bigger than laptop*/
@media only screen and (min-width:992px) {
    .container {
        width: 80%;
    }
    .card {
        width: 50%;
        height: 25%;
    }
}
/*anything smaller than laptop*/
@media only screen and (max-width: 991px) {
      .card {
          width: 100%;
          height: 100%;
      }
  }
  /*any thing smaller than phone*/
@media screen and (max-width: 600px) {
    .textBlock {
        font-size: 2em;
    }
    .col-xs-12:first-child {
        margin-bottom:25px;
    }
    .navbar {
        flex-direction: column;
    }
    .navbar-nav {
        flex-direction: row;
        justify-content: space-between;
        width: 70%;
    }
    .indexImg {
        width: 100%;
    }
 
  }